.Video-Page {
  background-color: #333333;
  color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spin {
  display: flex;
  margin-top: 4em;
}

.video {
  display: flex;
  justify-content: center;
}

.below-video {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

.video-details {
  display: flex;
  justify-content: space-evenly;
}

.channel-details {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 50px;
}

.channel-details img {
  border-radius: 50px;
}

.channel-details h3 {
  padding: 0.5em;
}

.add-line {
  border-left: 1px solid gray;
}

.thumbs-up-icon {
  padding: 0.5em;
}

.download-button {
  border-radius: 30px;
}

.playlist-border {
  border: 1px solid gray;
  border-radius: 3em;
  padding: 1em;
}

.playlist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100em;
  padding: 1em;
}

.playlist-title {
  right: 3em;
}

.playlist-nav:nth-child(2) {
  border: 3px solid red;
}

/* .playlist-nav:last-child  > span { margin-left: auto;  } */

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  width: 8em;
  height: 75%;
  color: azure;
}

.arrow:hover {
  background-color:#8d8d8d;
  opacity: 50%;
  transition: 0.2s ease-in-out;
}

/* .left {
  border: 3px solid red;
} */

.right {
  right: 10em
}