.Video-Page {
  background-color: #14213D;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spin {
  display: flex;
  margin-top: 4em;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.below-video {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin-bottom: 50px;
}

.video-details {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.channel-details {
  display: flex;
  align-items: center;
  /* border: 1px solid gray; */
  border-radius: 10px;
}

.channel-details img {
  border-radius: 10px;
  max-height: 50px;
}

.channel-details h3 {
  padding: 0.5em;
  font-size: 1.2em;
  margin-bottom: 0;
}

.add-line {
  border-left: 1px solid #fff;
}

.thumbs-up-icon {
  padding: 0.5em;
}

.download-button {
  width: auto;
  min-width: 100px;
  border-radius: 10px;
  background-color: #E5E5E5;
  color: #14213D;
  border: none;
}

.download-button:hover {
  background-color: #FCA311;
}

.playlist-border {
  border: 1px solid #e5e5e545;
  border-top: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-bottom: 1em;
}

.playlist-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100em;
  padding: 1em;
  position: relative;
}

.playlist-title {
  right: 3em;
}

.playlist-nav:nth-child(2) {
  border: 3px solid red;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 5em;
  height: 5em;
  color: #14213D;
  margin-top: 400px;
  background-color: #E5E5E5;
}

.arrow:hover {
  background-color:#FCA311;
  /* opacity: 50%; */
  transition: 0.2s ease-in-out;
  color: #14213D;
}

.left {
  left: 50px;
  top: 60%;
}

.right {
  right: 50px;
  top: 60%;
} 