.Video-Page {
  background-color: #333333;
  color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spin {
  display: flex;
  margin-top: 4em;
}

.video {
  display: flex;
  justify-content: center;
}

.video-details {
  text-align: center;
}
