#create-new-playlist {
  margin-bottom: 1em;
}

.create-playlist-button {
  display: block;
  margin-left: 7px;
}

.navbar-text {
  color: #fff;
}

.open-sidebar {
  font-size: 1.3em;
  color: #fff;
  background: #000;
}

.open-sidebar:hover {
  color: #FCA311;
}

.navbar-brand:hover {
  color: #FCA311;
}

.navbar {
  background: #000;
}