.playlist-item {
  display: flex;
  border: 1px solid rgb(219, 219, 219);
  margin: 1em;
  padding: 0.5em;
  align-items: center;
}

.playlist-item:hover {
  box-shadow: 0.25em 0.25em 15px black;
  transition: 0.25s ease-in-out;
}

.title {
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.delete-playlist-button {
  position: fixed;
  right: 20px;
  --bs-btn-color: null;
  --bs-btn-bg: null;
  --bs-btn-border-color: null;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #272729;
  --bs-btn-hover-border-color: null;
  --bs-btn-active-bg: red;
}