#navigation-bar {
  background-color: #080d16;
}

#main-logo {
  height: 50px;
}

#main-logo:hover {
  opacity: 70%;
  height: 50px;
}

#create-new-playlist {
  margin-bottom: 1em;
}

.create-playlist-button {
  display: block;
  margin-left: 7px;
}

.navbar-text {
  color: #fff;
}

.open-sidebar {
  --bs-btn-border-color: null;
  font-size: 1.3em;
  color: #fff;
  background: #080d16;
}

.open-sidebar:hover {
  color: #FCA311;
}

.navbar-brand {
  transition: 0.2s ease-in-out;
}

.navbar-brand:hover {
  color: #FCA311;
}

.navbar {
  background: #000;
}