.Video-Page {
  background-color: #14213d;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spin {
  display: flex;
  margin-top: 4em;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.video-buttons {
  display: flex;
  justify-content: space-evenly;
}

.single-video-button {
  margin: 0.5em;
  border-radius: 0px;
  border: none;
}

.btn.active {
  background: none;
  color: floralwhite;
  border-bottom: 3px solid #fca311;
  transition: 0.3s ease-in-out;
  /* margin-top: 50px; */
}

.below-video {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin-bottom: 50px;
}

.video-details {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.video-details-buttons {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.video-details-buttons img {
  border-radius: 10px;
  max-height: 50px;
  margin-bottom: 0;
}

.video-details-buttons h3 {
  padding: 0.75em;
}

.video-details-buttons h3 {
  padding: 0.75em;
}

.video-details-buttons h4 {
  margin: 10px;
}

.video-details-icons {
  padding: 10px;
}

.download-button,
.toggle-description {
  width: auto;
  min-width: 100px;
  border-radius: 10px;
  background-color: #e5e5e5;
  color: #14213d;
  border: none;
  transition: 0.2s ease-in-out;
}

.download-button:hover,
.toggle-description:hover {
  background-color: #fca311;
}

.playlist-border {
  border: 1px solid #e5e5e545;
  border-radius: 50px;
  padding: 1em 2em;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.playlist-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.playlist-title {
  right: 3em;
}

.playlist-nav:nth-child(2) {
  border: 3px solid red;
}

.playlist-info {
  display: flex;
}

.video-and-plButtons {
  display: flex;
  align-items: center;
}

.arrow {
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  z-index: 3;
  margin-top: -90%;
  padding: 1em;
  color: #14213d;
  background-color: #e5e5e5;
}

.arrow:hover {
  background-color: #fca311;
  transition: 0.2s ease-in-out;
  color: #14213d;
}

:not(.btn-check) + .btn:hover {
  background-color: #fca311;
  color: #14213d;
}

.toggle-description {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #e5e5e5;
  color: #14213d;
  border: none;
  transition: 0.2s ease-in-out;
}

.toggle-description:hover {
  background-color: #fca311;
}

@media only screen and (max-width: 1280px) {
  .arrow {
    margin-top: 0.6em;
    width: 1em;
    height: auto;
    color: white;
    background: none;
  }

  .left {
    left: 2em;
  }

  .right {
    right: 2em;
  }
}
