a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

html {
  background-color: 14213D;
}

input {
  border: 2px solid black;
  margin: 0 0 10px 10px;
}

h4 {
  padding: 0px;
  margin: 0.2em;
}

h4:empty:before {
  content: "\200b"; /* unicode zero width space character */
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 5px;
  margin: 2px;
  width: 21em;
  background-color: #eee;
}

li a {
  color: grey;
}

li:hover {
  background-color: darkolivegreen;
  color: white;
}

li:hover a {
  color: white;
}

#brand-home-link {
  padding-left: 10px;
  font-size: 1.2em;
  font-weight:600;
}

#user-name {
  margin-right: 10px;
  font-size: 1.2em;
  color: #fff;
}

#footer {
  padding: 5px 0 0 0;
  background-color: #FCA311;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #14213D;
}

.App {
  background-color: #14213D;
  min-height: 100vh;
}

/* .break-line {
  color: grey;
  height: 3px;
  size: 1em;
  width: 90%;
  margin-left: 5%;
} */

.main-words {
  margin: 10em 0;
}

.open-sidebar {
  margin-right: 1em;
}

.home-link {
  margin-left: 1em;
}

.get-started {
  margin-bottom: 1em;
}

.text-white {
  color: white;
}

.search-bar {
  display: block;
  margin: auto;
  width: 60vw;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}

.button {
  width: auto;
  margin-top: 1em;
  min-width: 100px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.search button:hover {
  background-color: #FCA311;
}

.welcome-text {
  display: flex;
  justify-content: center;
  color: white;
  margin: 10px 0 0 10px ;
}

.navbar {
  border-bottom: 3px solid #FCA311;
  height: 75px;
}