#search-results {
  display: block;
  text-align: center;
}

.dropdown-toggle::after {
  display:none;
}

.video-result {
  width: 60vw;
  margin: 1em 0;
  border: 3px solid #E5E5E5;
  margin: 1em auto;
  background: #E5E5E5;
  border-radius: 10px;
}

.video-result:hover {
  border: 3px solid #FCA311;
  background-color: #fff;
  color: #fff;
}

.preview {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1em 5.5em 1em 1em;
}

.video-header {
  display: flex;
  height: 100px;
}

.video-title {
  display: flex;
  margin: 0 0 0 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #14213D;
}

.plus-icon {
  color: #14213D;
  margin-right: 1em;
  size: 25px;
}

.plus-icon:hover {
  color: #FCA311;
}

.dropdown-toggle {
  --bs-btn-bg: null;
  --bs-btn-border-color: null;
  --bs-btn-hover-bg: null;
  --bs-btn-padding-x: null;
  --bs-btn-active-bg: null;
  width: 45%;
}

.dropdown-toggle::after {
  display: none !important; 
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #212529
}

.add-to-playlist {
  display: flex;
  position: absolute;
  right: 0;
}

.link-to-video {
  display: flex;
}