#search-results {
  display: block;
  text-align: center;
}

.dropdown-toggle::after {
  display:none;
}

.video-result {
  width: 70%;
  margin: 1em 0;
  border: 5px solid #212529;
  margin: 1em auto
}

.video-result:hover {
  box-shadow: 5px 5px 15px white;
  transition: 0.25s ease-in-out;
}

.preview {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1em 5.5em 1em 1em;
}

.video-header {
  display: flex;
  padding: 10px;
  width: 125px;
  height: 100px;
}

.video-title {
  display: flex;
  margin: auto 0;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.plus-icon {
  color: white;
  margin-right: 1em;
  size: 25px;
}

.dropdown-toggle {
  --bs-btn-bg: null;
  --bs-btn-border-color: null;
  --bs-btn-hover-bg: null;
  --bs-btn-padding-x: null;
  --bs-btn-active-bg: null;
  width: 45%;
}

.dropdown-toggle::after {
  display: none !important; 
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #212529
}

.add-to-playlist {
  display: flex;
  position: absolute;
  right: 0;
}

.link-to-video {
  display: flex;
}